<MudCard>
    <MudCardHeader>
        <CardHeaderContent>
            <MudText Typo="Typo.h6">@Book.Title</MudText>
            <MudText Typo="Typo.subtitle1">@Book.Author</MudText>
        </CardHeaderContent>
        <CardHeaderActions>
            <MudIconButton Icon="@Icons.Material.Filled.Download"
                           Label="Export to Markdown"
                           Color="Color.Default"
                           OnClick="ExportQuotesMarkdown"
                           Disabled="Book.Quotes.Count == 0" />
        </CardHeaderActions>
    </MudCardHeader>
    <MudCardContent>
        <MudStack Spacing="4">
        @foreach (var quote in @Book.Quotes)
        {
            <QuoteComponent Quote="quote"></QuoteComponent>
        }
        </MudStack>

        @if (@TocItems.Count > 0)
        {
            <h4>Table of content</h4>

            @foreach (var item in @TocItems)
            {
                <p>@item</p>
            }
        }
    </MudCardContent>
</MudCard>
